<div class="flex items-center flex-col pt-4">
  <div>
    <label>
      Enter your password
      <input
        [type]="passIsHidden ? 'password' : 'text'"
        class="border-2 rounded"
        (input)="checkPasswordStrength($event)"
      />
    </label>
    <div class="flex items-center gap-2">
      <button
        (click)="passIsHidden = !passIsHidden"
        class="w-4 h-4 border-2 rounded"
      ></button>
      <p>{{ passIsHidden ? "Watch" : "Hide" }} the password</p>
    </div>
  </div>
  <div>
    <p class="flex items-center">
      Password level:
      <span
        class="block w-4 h-2 border rounded"
        [ngClass]="{
          'bg-slate-400': passLevel === 'empty',
          'bg-red-600': passLevel === 'easy' || passLevel === 'lessThanMin',
          'bg-yellow-300': passLevel === 'medium',
          'bg-green-600': passLevel === 'strong'
        }"
      ></span>
      <span
        class="block w-4 h-2 border rounded"
        [ngClass]="{
          'bg-slate-400': passLevel === 'empty' || passLevel === 'easy',
          'bg-red-600': passLevel === 'lessThanMin',
          'bg-yellow-300': passLevel === 'medium',
          'bg-green-600': passLevel === 'strong'
        }"
      ></span>
      <span
        class="block w-4 h-2 border rounded"
        [ngClass]="{
          'bg-slate-400':
            passLevel === 'empty' ||
            passLevel === 'easy' ||
            passLevel === 'medium',
          'bg-red-600': passLevel === 'lessThanMin',
          'bg-green-600': passLevel === 'strong'
        }"
      ></span>
      {{
        passLevel === "empty" || passLevel === "lessThanMin"
          ? ""
          : (passLevel | titlecase)
      }}
    </p>
  </div>
</div>
