<div class="flex items-center flex-col pt-4">
  <div>
    <label>
      Enter your password
      <input
        [type]="passIsHidden ? 'password' : 'text'"
        class="border-2 rounded"
        (input)="checkPasswordStrength($event)"
      />
    </label>
    <div class="flex items-center gap-2">
      <button
        (click)="passIsHidden = !passIsHidden"
        class="w-4 h-4 border-2 rounded transition-colors hover:bg-orange-100"
      ></button>
      <p>{{ passIsHidden ? "Watch" : "Hide" }} the password</p>
    </div>
  </div>
  <div>
    <p class="flex items-center">
      Password level:
      <span
        class="w-4 h-2 ml-1 mt-1 border rounded"
        [ngClass]="indicatorOne"
      ></span>
      <span class="w-4 h-2 mt-1 border rounded" [ngClass]="indicatorTwo"></span>
      <span
        class="w-4 h-2 mr-1 mt-1 border rounded"
        [ngClass]="indicatorThree"
      ></span>
      {{
        passLevel === "empty" || passLevel === "lessThanMin"
          ? "Must be at least 8 characters"
          : (passLevel | titlecase)
      }}
    </p>
  </div>
</div>
